@import "normalize.css";

* {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin: 0px;
}

:root {
  --main-green: #263d0f;
  --brighter-green: #315217;
  --green-contrast: #355e3b;
  --black-color-effect: rgba(18, 18, 20, 0.8) !important;
  --box-shadow-effect: 0 4px 4px 0 rgba(0, 0, 0, 0.05) !important;
  --white-text: rgba(255, 255, 255) !important;
  --sx-height: 48px;
  --s_sx-height: 24px;
  --small-font_size: 16px;
  --label-font_size: 24px;

  --small-weight: 500;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
