@import "normalize.css";

* {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin: 0px;
}

:root {
  --main-green: #263d0f;
  --sx-height: 48px;
  --s_sx-height: 24px;
  --small-font_size: 16px;
  --small-weight: 500;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
