@import "normalize.css";

* {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin: 0px;
}

:root {
  --main-green: #263d0f;
  --brighter-green: #315217;
  --green-contrast: #18af87;
  --black-bg-color: #121214;
  --black-color-effect: rgba(18, 18, 20, 0.8) !important;
  --box-shadow-effect: 0 4px 4px 0 rgba(0, 0, 0, 0.05) !important;
  --white-text: rgba(255, 255, 255) !important;
  --sx-height: 48px;
  --s_sx-height: 24px;
  --sub-font_size: 12px;
  --small-font_size: 16px;
  --label-font_size: 24px;
  --small-weight: 500;
  --title-weight: 600;
  --book-img-cover: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.39),
    rgba(0, 0, 0, 0.5) 1.83%,
    hsla(0, 0%, 100%, 0.36) 3.21%,
    rgba(0, 0, 0, 0.33) 4.72%,
    rgba(247, 254, 255, 0.28) 9.84%,
    hsla(0, 0%, 100%, 0) 47.85%
  );
}
html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.app {
}
